<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header %>
    <h1>ADD PRODUCT DETAILS</h1>
    <div><a href="/mainpage">
      <button>back</button>
  </a>
</div>
    
   <form class="form-1" action="/addnew" method="post">
          <label>Name</label>
          <input type="text" name="Name">
          <label>Price</label>
          <input type="text" name="Price">
          <label>Size</label>
          <input type="text" name="Size">
          <label>Description</label>
          <input type="text" name="Description">
          <label for="Image">Upload Image</label>
                <input type="file" id="Image" 
                       name="Image">
          <input class="submit-button" type="submit">
  </form>

</body>
</html>
