<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MyApp</h1>
    <div>
      <a href="/RegistrationForm">
        <button>Register</button>
     </a>
     <a href="/login">
        <button>Login</button>
     </a>
    </div>
  </body>
</html>
