<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>MyApp</h1>
    <a href="/logout">
        <button>LogOut</button>
    </a>
    <h>User created successfully</h>
</body>

</html>