<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header %>
    <h1>Registration form</h1>
    
   <form class="form-1 form-2" action="/RegistrationForm" method="post">
          <label>Name</label>
          <input type="text" name="Name">
          <label>Username</label>
          <input type="text" name="Username">
          <label>Password</label>
          <input type="password" name="Password">
          <input class="submit-button" type="submit">
  </form>

</body>
</html>
