body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.error-login
{
  color: red;
}
.product-div
{
  border: 2px solid black;
}
.Button
{
  background-color: rgb(241, 198, 41);
  color: black;
  border-radius: 4px;
  border: 1px solid black;
}